
/* Estilos personalizados para la navbar */
.navbar-nav .nav-link:hover {
    background-color: gold;
    color: darkblue !important;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para los iconos sociales en el footer */
.social-icon:hover {
    color: gold !important;
    transition: color 0.3s ease;
}

/* Estilos para las cards de productos */
.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px gold;
    border: 2px solid gold;
}

/* Estilos para las cards de ofertas */
.offer-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.offer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px gold;
    border: 2px solid gold;
}

/* Estilos para botones primarios */
.btn-primary:hover {
    background-color: gold !important;
    color: darkblue !important;
    border-color: gold !important;
}

/* Estilos para la sección Acerca de */
.acerca-de {
    border: 2px solid #ddd;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.acerca-de:hover {
    background-color: beige;
    box-shadow: 0 0 15px gold;
}
